{
  "log": {
    "_recordingName": "fetch-web-apps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 577,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 332,
      },
      {
        "_id": "fdf36114890333245b0c071936d4c1f4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://firebase.googleapis.com/v1beta1/projects"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 438,
            "text": "{\"results\":[{\"projectId\":\"jupiterone-creativice\",\"projectNumber\":\"104304835894\",\"displayName\":\"jupiterone-creativice\",\"name\":\"projects/jupiterone-creativice\",\"resources\":{\"hostingSite\":\"jupiterone-creativice\"},\"state\":\"ACTIVE\",\"etag\":\"1_f43872c2-d7d3-4aa9-870e-4c8d7afa1a77\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 728,
      },
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-ty[...]
